# Ignore temporary editor files.
.*.sw[po]
*~
.DS_Store

# Ignore project files
*.pyproj
*.sublime-project
*.sublime-workspace
sftp-config.json
.idea

# Python virtual environment.
/.venv/

# Test files.
.pytest_cache/

# Ignore binaries.
*.py[cod]
*.so
*.dll

# Tox files
.tox/

# ignore Coverage.py files
.coverage
htmlcov/

# Media and static directories.
/media/
/static/
