boto3==1.11.17
Django==3.0rc1
django-storages==1.9.1
psycopg2-binary~=2.8.0
python-decouple==3.3
# Fix for Redis SSL mode is required:
# https://github.com/sebleier/django-redis-cache/commit/87e615eeb1fe5ab2b47ed628de701fc3d9ea03bb
git+https://github.com/sebleier/django-redis-cache.git#egg=master
djangorestframework~=3.10.0
git+https://github.com/dblenkus/rolca.git#egg=master
