boto3==1.42.50
Django==6.0.2
django-cors-headers==4.9.0
django-smtp-ssl==1.0
django-storages==1.14.6
psycopg2-binary==2.9.11
python-decouple==3.8
django-redis==6.0.0
djangorestframework==3.16.1
git+https://github.com/dblenkus/rolca.git@master
